# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
napari_env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Ignorer les sous-modules ou dépendances locales
popcorn/
mbipy/
test/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.napari_cache/

# Translations
*.mo
*.pot

# Logs & fichiers spécifiques aux frameworks
*.log
local_settings.py

# Flask instance folder
instance/

# Documentation (Sphinx, MkDocs)
docs/_build/
site/

# PyBuilder
target/

# Environnements d'IDE (Pycharm et VSCode)
.idea/
.vscode/

# Fichiers IPython Notebook
.ipynb_checkpoints/

# pyenv
.python-version

# Fichiers OS inutiles
.DS_Store
Thumbs.db

# Fichiers générés par setuptools_scm
**/_version.py

# Exclure les fichiers de données volumineux
Data/
data/
*.h5  # Fichiers HDF5
*.npy # Fichiers NumPy
*.csv # Fichiers CSV de données
*.json # Fichiers JSON de configuration
